{% extends "base.html.jinja" %}

{% block page_title %}What were you looking for???{% endblock %}

{% block page_heading %}What were you looking for???{% endblock %}

{% block content %}
<h1 class='big-404 cent'>404</h1>
<p class='cent'>page not found</p>
{% endblock %}