{% extends "base.html.jinja" %}

{% block page_title %}{{d.title}}{% endblock %}

{% block page_heading %}{{d.title}}{% endblock %}

{% block page_theme %}{{theme}}{% endblock %}

{% block content %}
{{d.content|safe}}
{% endblock %}