<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{d.title}}</title>
	<link rel="icon" type="image/x-icon" href="/favicon">
	<link rel="stylesheet" id="theme" href="/theme/{{theme}}">
	<link rel="stylesheet" href="/css/main">
</head>
<body>
	<header>
		<div class="header-title-row"><h1 class="header-title">{{d.title}}</h1></div>
		<div class="header-tagline" style="--quote-length:{{len(quote)}}ch;">{{quote}}</div>
		<nav class="header-nav">
			<a href="/">Home</a><a href="/about">About</a><a href="/index">Index of stuff</a>
		</nav>
	</header>
	<main>
		{{d.content}}
	</main>

	<footer>
		<button class="footer-square" onclick="window.scrollTo({top: 0, behavior: 'smooth'});" aria-label="Scroll to top">
			^
		</button>
		<div class="footer-links">
			<ul>
				<li><a href="mailto:127.0.0.1">No e-mail yet</a></li>
				<li><a href="https://github.com/ImNotMeAnymore/webpage">source code</a></li>
			</ul>
		</div>
	</footer>

</body>
</html>